@import '../../styles/variables.scss';

.sort-ddl {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin-left: auto;
  flex-grow: 0;
  position: relative;

  &.active {
    .ddl-list {
      max-height: 300px;
    }
  }

  @media (max-width: 850px) {
    margin-left: 0;
  }

  span {
    text-wrap: nowrap;
    font-weight: 500;
  }

  .ddl-container {
    width: 165px;
  }

  .selected-value {
    border-bottom: 1px dashed $red;
    color: $red;
    cursor: pointer;
    padding-bottom: 3px;
  }

  .ddl-list {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    width: 90%;
    z-index: 2;
    background: $white;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;

    .ddl-list__item {
      padding: 6px 16px;
      cursor: pointer;
      transition: all 0.2;

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        margin-bottom: 12px;
      }

      &:hover,
      &.active {
        background: rgba($red, 0.1);
        color: $red;
      }
    }
  }
}
