@import '../../styles/variables.scss';

.empty {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
  gap: 20px;

  @media (max-width: 550px) {
    padding: 0;
    gap: 10px;
  }

  .empty-title {
    font-size: 26px;
    line-height: 32px;

    @media (max-width: 550px) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .empty-text {
    text-align: center;
  }

  .empty-img {
    width: 300px;

    img {
      width: 100%;
    }
  }

  .empty-btn {
    border: none;
    outline: none;
    background: black;
    padding: 14px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 1.5%;
    font-weight: bold;
  }
}
