@import '../../styles/variables.scss';

.nav-wrapper {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: $red $lightGrey;
  gap: 5px;
  border-radius: 15px;
  background: $lightGrey;
  padding: 7px;
  position: relative;
  user-select: none;

  @media (max-width: 850px) {
    width: 100%;
  }

  .nav-item {
    padding: 10px 16px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    z-index: 2;
    transition: all 0.2s;

    &:hover {
      color: $grey;
    }

    &.active {
      color: $white;
      cursor: default;
    }
  }

  .nav-item-active {
    position: absolute;
    padding: 10px 16px;
    background: $red;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(139, 135, 129, 0.5);
    transition: all 0.3s;

    // Задается динамически
    top: 7px;
    left: 7px;
    width: 59px;
    height: 40px;
  }
}
