@import '../../styles/variables.scss';

.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6px;
  padding: 16px 0;
  border-bottom: 1px solid $grey;

  &:last-child {
    border-bottom: none;
  }

  .product-info {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 280px;

    @media (max-width: 450px) {
      flex-direction: column;
      align-items: start;
      gap: 0;
      width: 145px;
    }

    .item-image {
      width: 80px;
      height: 80px;

      img {
        width: 100%;
      }

      @media (max-width: 550px) {
        width: 60px;
        height: 60px;
      }
    }

    .title {
      font-weight: bold;
    }
  }

  .item-price {
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    min-width: 120px;
    text-align: right;

    @media (max-width: 550px) {
      width: 60%;
      font-size: 20px;
      line-height: 24px;
      text-align: left;
    }
  }

  .delete-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $grey;
    color: $grey;
    background: transparent;
    transform: rotate(45deg);
    font-size: 26px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: black;
      border: 1px solid black;
    }

    @media (max-width: 550px) {
      width: 35px;
      height: 35px;
    }
  }
}
