@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1232px;
  padding: 32px 16px;
  margin: 0 auto;

  @media (max-width: 550px) {
    padding: 16px 8px;
  }
}

.app {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 550px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 52px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  .logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .title-wrapper {
    @media (max-width: 950px) {
      display: none;
    }

    .title {
      font-size: 32px;
      line-height: 32px;
    }

    .text {
      font-size: 14px;
      color: $grey;
      font-style: italic;
    }
  }

  .search-wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;

    @media (max-width: 768px) {
      width: 100%;
      order: 1;
    }

    .icon {
      position: absolute;
      left: 10px;
      top: 14px;
      width: 20px;
      height: 20px;
      background: url('/src/assets/images/search.svg') no-repeat center / contain;
      opacity: 0.3;
    }

    .search-field {
      padding: 12px 20px 12px 38px;
      outline: none;
      width: 100%;
      border: 1px solid rgba($grey, 0.3);
      border-radius: 10px;
      font-size: 16px;
      line-height: 22px;

      &:focus {
        border: 1px solid rgba($grey, 0.8);
      }
    }
  }

  .basket-wrapper {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 30px;
    background: $red;
    color: $white;
    gap: 12px;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s;

    &:hover {
      background: $red-hovered;
    }

    @media (max-width: 768px) {
      margin-left: auto;
    }

    .separator {
      width: 1px;
      height: 16px;
      background: $white;
    }

    .value-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .icon {
      width: 16px;
      height: 16px;
      background: url('/src/assets/images/basket.svg') no-repeat center / contain;
    }
  }
}

.nav-panel {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  gap: 16px;

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: 550px) {
    margin-bottom: 16px;
  }

  .nav-wrapper {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: $red $lightGrey;
    gap: 5px;
    border-radius: 15px;
    background: $lightGrey;
    padding: 7px;
    position: relative;
    user-select: none;

    @media (max-width: 850px) {
      width: 100%;
    }

    .nav-item {
      padding: 10px 16px;
      border-radius: 15px;
      position: relative;
      cursor: pointer;
      font-weight: 500;
      z-index: 2;
      transition: all 0.2s;

      &:hover {
        color: $grey;
      }

      &.active {
        color: $white;
        cursor: default;
      }
    }

    .nav-item-active {
      position: absolute;
      padding: 10px 16px;
      background: $red;
      border-radius: 15px;
      box-shadow: 0px 4px 4px 0px rgba(139, 135, 129, 0.5);
      transition: all 0.3s;

      // Задается динамически
      top: 7px;
      left: 7px;
      width: 65px;
      height: 46px;
    }
  }

  .sort-ddl {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    flex-grow: 0;
    position: relative;

    &.active {
      .ddl-list {
        max-height: 300px;
      }
    }

    @media (max-width: 850px) {
      margin-left: 0;
    }

    span {
      text-wrap: nowrap;
      font-weight: 500;
    }

    .selected-value {
      border-bottom: 1px dashed $red;
      color: $red;
      font-weight: 500;
    }

    .ddl-list {
      position: absolute;
      top: calc(100% + 6px);
      right: 0;
      width: 90%;
      z-index: 2;
      background: $white;
      border-radius: 16px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
      max-height: 0;
      overflow: hidden;
      transition: all 0.2s;

      .ddl-list__item {
        padding: 6px 16px;
        cursor: pointer;
        transition: all 0.2;

        &:first-child {
          margin-top: 12px;
        }

        &:last-child {
          margin-bottom: 12px;
        }

        &:hover,
        &.active {
          background: rgba($red, 0.1);
          color: $red;
        }
      }
    }
  }
}

.wok-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 26px;

  @media (max-width: 550px) {
    row-gap: 12px;
  }
}

.wok-item {
  width: 25%;

  @media (max-width: 950px) {
    width: 33.33%;
  }

  @media (max-width: 768px) {
    width: 50%;
  }

  @media (max-width: 550px) {
    width: 100%;
  }

  .link-container {
    cursor: pointer;
    margin-bottom: 16px;

    .image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .ingridients {
          z-index: 1;
          opacity: 0.8;
        }
      }

      img {
        width: 100%;
      }

      .ingridients {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        z-index: -1;
        padding: 35px;
        text-align: center;
        transition: all 0.3s;
      }
    }

    .title {
      text-align: center;
      font-size: 22px;
      line-height: 26px;
      transition: all 0.2s;

      &:hover {
        color: $red;
      }
    }
  }

  .price-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 16px;

    .counter {
      display: flex;
      width: 130px;
      height: 42px;
      background: $lightGrey;
      border-radius: 6px;
      overflow: hidden;
      flex-shrink: 0;

      .dec-btn,
      .inc-btn {
        width: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s;

        &:hover {
          background: $red;
          color: $white;
        }
      }

      .count {
        flex-grow: 1;
        text-align: center;
        line-height: 42px;
      }
    }

    .price {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-shrink: 0;

      .weight {
        font-size: 12px;
        line-height: 14px;
        color: $grey;
      }

      .price-value {
        font-weight: bold;
        font-size: 22px;
      }
    }
  }

  .to-cart-btn {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    height: 42px;
    cursor: pointer;
    background: $white;
    border: 1px solid $red;
    display: block;
    color: $red;
    border-radius: 12px;
    transition: all 0.2s;

    &:hover {
      background: $red;
      color: $white;
    }
  }
}
