@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1232px;
  padding: 32px 16px;
  margin: 0 auto;

  @media (max-width: 550px) {
    padding: 16px 8px;
  }
}

.app {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 550px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 52px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  &.product-page {
    .search-wrapper {
      display: none;
    }

    .basket-btn-wrapper {
      margin-left: auto;
    }
  }

  &.basket-page {
    flex-wrap: nowrap;

    .search-wrapper,
    .basket-btn-wrapper {
      display: none;
    }

    .title-wrapper {
      display: block;

      @media (max-width: 550px) {
        .title {
          font-size: 24px;
          line-height: 26px;
        }
      }
    }
  }

  .logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;

    img {
      width: 100%;
    }
  }

  .title-wrapper {
    @media (max-width: 950px) {
      display: none;
    }

    .title {
      font-size: 32px;
      line-height: 32px;
    }

    .text {
      font-size: 14px;
      color: $grey;
      font-style: italic;
    }
  }

  .search-wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;

    @media (max-width: 768px) {
      width: 100%;
      order: 1;
    }

    .icon {
      position: absolute;
      left: 10px;
      top: 14px;
      width: 20px;
      height: 20px;
      background: url('/src/assets/images/search.svg') no-repeat center / contain;
      opacity: 0.3;
    }

    .search-field {
      padding: 12px 20px 12px 38px;
      outline: none;
      width: 100%;
      border: 1px solid rgba($grey, 0.3);
      border-radius: 10px;
      font-size: 16px;
      line-height: 22px;

      &:focus {
        border: 1px solid rgba($grey, 0.8);
      }
    }
  }

  .basket-btn-wrapper {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 30px;
    background: $red;
    color: $white;
    gap: 12px;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s;

    &:hover {
      background: $red-hovered;
    }

    @media (max-width: 768px) {
      margin-left: auto;
    }

    .separator {
      width: 1px;
      height: 16px;
      background: $white;
    }

    .value-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .icon {
      width: 16px;
      height: 16px;
      background: url('/src/assets/images/basket.svg') no-repeat center / contain;
    }
  }
}

.nav-panel {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  gap: 16px;

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: 550px) {
    margin-bottom: 16px;
  }

  .nav-wrapper {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: $red $lightGrey;
    gap: 5px;
    border-radius: 15px;
    background: $lightGrey;
    padding: 7px;
    position: relative;
    user-select: none;

    @media (max-width: 850px) {
      width: 100%;
    }

    .nav-item {
      padding: 10px 16px;
      border-radius: 15px;
      position: relative;
      cursor: pointer;
      font-weight: 500;
      z-index: 2;
      transition: all 0.2s;

      &:hover {
        color: $grey;
      }

      &.active {
        color: $white;
        cursor: default;
      }
    }

    .nav-item-active {
      position: absolute;
      padding: 10px 16px;
      background: $red;
      border-radius: 15px;
      box-shadow: 0px 4px 4px 0px rgba(139, 135, 129, 0.5);
      transition: all 0.3s;

      // Задается динамически
      top: 7px;
      left: 7px;
      width: 59px;
      height: 40px;
    }
  }

  .sort-ddl {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    margin-left: auto;
    flex-grow: 0;
    position: relative;

    &.active {
      .ddl-list {
        max-height: 300px;
      }
    }

    @media (max-width: 850px) {
      margin-left: 0;
    }

    span {
      text-wrap: nowrap;
      font-weight: 500;
    }

    .ddl-container {
      width: 165px;
    }

    .selected-value {
      border-bottom: 1px dashed $red;
      color: $red;
      font-weight: 500;
      cursor: pointer;
    }

    .ddl-list {
      position: absolute;
      top: calc(100% + 6px);
      right: 0;
      width: 90%;
      z-index: 2;
      background: $white;
      border-radius: 16px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
      max-height: 0;
      overflow: hidden;
      transition: all 0.2s;

      .ddl-list__item {
        padding: 6px 16px;
        cursor: pointer;
        transition: all 0.2;

        &:first-child {
          margin-top: 12px;
        }

        &:last-child {
          margin-bottom: 12px;
        }

        &:hover,
        &.active {
          background: rgba($red, 0.1);
          color: $red;
        }
      }
    }
  }
}

.wok-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 26px;

  @media (max-width: 550px) {
    row-gap: 12px;
  }
}

.wok-item {
  width: 25%;

  @media (max-width: 950px) {
    width: 33.33%;
  }

  @media (max-width: 768px) {
    width: 50%;
  }

  @media (max-width: 550px) {
    width: 100%;
  }

  .link-container {
    cursor: pointer;
    margin-bottom: 16px;

    .image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .ingridients {
          z-index: 1;
          opacity: 0.8;
        }
      }

      img {
        width: 100%;
      }

      .ingridients {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        z-index: -1;
        padding: 35px;
        text-align: center;
        transition: all 0.3s;
      }
    }

    .title {
      text-align: center;
      font-size: 22px;
      line-height: 26px;
      transition: all 0.2s;

      &:hover {
        color: $red;
      }
    }
  }

  .price-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 16px;

    .price {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-shrink: 0;

      .weight {
        font-size: 12px;
        line-height: 14px;
        color: $grey;
      }

      .price-value {
        font-weight: bold;
        font-size: 22px;
      }
    }
  }

  .to-cart-btn {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    height: 42px;
    cursor: pointer;
    background: $white;
    border: 1px solid $red;
    display: block;
    color: $red;
    border-radius: 12px;
    transition: all 0.2s;

    &:hover {
      background: $red;
      color: $white;
    }
  }
}

.counter {
  display: flex;
  width: 130px;
  height: 42px;
  background: $lightGrey;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;

  .dec-btn,
  .inc-btn {
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;

    &:hover {
      background: $red;
      color: $white;
    }
  }

  .count {
    flex-grow: 1;
    text-align: center;
    line-height: 42px;
  }
}

//======= Карточка товара ===========
.product-card {
  .breadcrumbs {
    display: flex;

    .crumb {
      cursor: pointer;
      font-weight: bold;
      margin-right: 8px;
      padding-right: 12px;
      position: relative;
      transition: all 0.2s;

      @media (max-width: 550px) {
        padding-right: 8px;
        margin-right: 4px;
      }

      &:hover {
        color: $grey;
      }

      &::after {
        content: '/';
        position: absolute;
        top: 0;
        right: 0;
      }

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        font-weight: 400;
        cursor: default;

        &:hover {
          color: black;
        }

        &::after {
          content: '';
        }
      }
    }
  }

  .content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      .image,
      .description {
        width: 100%;
      }
    }
  }

  .image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
      width: 100%;
      max-width: 700px;
    }
  }

  .description {
    width: 40%;

    .title {
      font-size: 30px;
      line-height: 32px;
      margin-bottom: 16px;

      @media (max-width: 550px) {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 8px;
      }
    }

    .description-block {
      margin-bottom: 20px;

      @media (max-width: 550px) {
        margin-bottom: 15px;
      }

      .block-title {
        margin-bottom: 8px;

        @media (max-width: 550px) {
          margin-bottom: 2px;
        }
      }

      .ingridient {
        margin-bottom: 3px;

        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: 550px) {
          margin-bottom: 2px;
        }
      }

      .nutritional-item {
        display: flex;
        align-items: stretch;
        margin-bottom: 6px;

        @media (max-width: 550px) {
          margin-bottom: 2px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .separator {
          flex-grow: 1;
          border-bottom: 1px dotted black;
        }
      }
    }

    .order-block {
      margin-bottom: 26px;
      background: #d5d5d5;
      padding: 18px;
      border-radius: 12px;

      @media (max-width: 550px) {
        margin-bottom: 15px;
      }

      .wrapper {
        display: flex;
        margin-bottom: 12px;

        .weight {
          font-size: 12px;
          line-height: 14px;
          color: $grey;
        }

        .price-value {
          font-size: 30px;
          line-height: 32px;
        }

        .counter {
          margin-left: auto;
        }
      }

      .basket-btn {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        border-radius: 12px;
        height: 45px;
        color: $white;
        background: $red;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.2s;

        &:hover {
          background: $red-hovered;
        }
      }
    }

    .product-presentation {
      .presentation-title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;

        @media (max-width: 550px) {
          font-size: 20px;
          line-height: 22px;
          margin-bottom: 4px;
        }
      }

      .presentation-text {
        text-align: justify;
        line-height: 22px;

        @media (max-width: 550px) {
          line-height: 18px;
        }
      }
    }
  }
}

.basket-content {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .basket-icon,
    .clean-basket-btn {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .basket-icon {
      .title {
        font-size: 28px;
        line-height: 32px;

        @media (max-width: 550px) {
          font-size: 22px;
          line-height: 24px;
        }
      }
    }

    .clean-basket-btn {
      cursor: pointer;
      border: none;
      outline: none;
      background: transparent;
      color: $grey;
      padding: 8px 16px;
      border-radius: 12px;
      transition: all 0.2s;

      &:hover {
        background: $lightGrey;
      }
    }
  }

  .order-list {
    margin-bottom: 12px;

    .order-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 6px;
      padding: 16px 0;
      border-bottom: 1px solid $grey;

      &:last-child {
        border-bottom: none;
      }

      .item-image {
        width: 80px;
        height: 80px;

        img {
          width: 100%;
        }

        @media (max-width: 550px) {
          width: 60px;
          height: 60px;
        }
      }

      .item-price {
        font-size: 26px;
        line-height: 30px;
        font-weight: bold;

        @media (max-width: 550px) {
          width: 60%;
          font-size: 20px;
          line-height: 24px;
        }
      }

      .delete-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $grey;
        color: $grey;
        background: transparent;
        transform: rotate(45deg);
        font-size: 26px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          color: black;
          border: 1px solid black;
        }

        @media (max-width: 550px) {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    .total-value {
      flex-shrink: 0;

      span {
        font-weight: bold;
        margin-left: 6px;
      }
    }

    .total-price {
      flex-shrink: 0;

      span {
        font-weight: bold;
        color: $red;
        margin-left: 6px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .to-main-btn,
    .pay-btn {
      padding: 12px 24px;
      cursor: pointer;
      border-radius: 30px;
      border: none;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      background: transparent;
      transition: all 0.2s;
    }

    .to-main-btn {
      color: $red;
      border: 1px solid $red;

      &:hover {
        color: $red-hovered;
        border: 1px solid $red-hovered;
      }
    }

    .pay-btn {
      color: $white;
      background: $red;

      &:hover {
        background: $red-hovered;
      }
    }
  }

  .empty {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
    gap: 20px;

    @media (max-width: 550px) {
      padding: 0;
      gap: 10px;
    }

    .empty-title {
      font-size: 26px;
      line-height: 32px;

      @media (max-width: 550px) {
        font-size: 22px;
        line-height: 26px;
      }
    }

    .empy-text {
      text-align: center;
    }

    .empty-img {
      width: 300px;

      img {
        width: 100%;
      }
    }

    .empty-btn {
      border: none;
      outline: none;
      background: black;
      padding: 14px 24px;
      border-radius: 30px;
      cursor: pointer;
      font-size: 10px;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 1.5%;
      font-weight: bold;
    }
  }
}
