@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1232px;
  padding: 32px 16px;
  margin: 0 auto;

  @media (max-width: 550px) {
    padding: 16px 8px;
  }
}

html {
  overflow-y: scroll;
}

.app {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  min-height: 100vh;

  @media (max-width: 550px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.basket-content {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .basket-icon,
    .clean-basket-btn {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .basket-icon {
      .title {
        font-size: 28px;
        line-height: 32px;

        @media (max-width: 550px) {
          font-size: 22px;
          line-height: 24px;
        }
      }
    }

    .clean-basket-btn {
      cursor: pointer;
      border: none;
      outline: none;
      background: transparent;
      color: $grey;
      padding: 8px 16px;
      border-radius: 12px;
      transition: all 0.2s;

      &:hover {
        background: $lightGrey;
      }
    }
  }

  .order-list {
    margin-bottom: 12px;

    .order-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 6px;
      padding: 16px 0;
      border-bottom: 1px solid $grey;

      &:last-child {
        border-bottom: none;
      }

      .item-image {
        width: 80px;
        height: 80px;

        img {
          width: 100%;
        }

        @media (max-width: 550px) {
          width: 60px;
          height: 60px;
        }
      }

      .item-price {
        font-size: 26px;
        line-height: 30px;
        font-weight: bold;

        @media (max-width: 550px) {
          width: 60%;
          font-size: 20px;
          line-height: 24px;
        }
      }

      .delete-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $grey;
        color: $grey;
        background: transparent;
        transform: rotate(45deg);
        font-size: 26px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          color: black;
          border: 1px solid black;
        }

        @media (max-width: 550px) {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    .total-value {
      flex-shrink: 0;

      span {
        font-weight: bold;
        margin-left: 6px;
      }
    }

    .total-price {
      flex-shrink: 0;

      span {
        font-weight: bold;
        color: $red;
        margin-left: 6px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .to-main-btn,
    .pay-btn {
      padding: 12px 24px;
      cursor: pointer;
      border-radius: 30px;
      border: none;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      background: transparent;
      transition: all 0.2s;
    }

    .to-main-btn {
      color: $red;
      border: 1px solid $red;

      &:hover {
        color: $red-hovered;
        border: 1px solid $red-hovered;
      }
    }

    .pay-btn {
      color: $white;
      background: $red;

      &:hover {
        background: $red-hovered;
      }
    }
  }

  .empty {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
    gap: 20px;

    @media (max-width: 550px) {
      padding: 0;
      gap: 10px;
    }

    .empty-title {
      font-size: 26px;
      line-height: 32px;

      @media (max-width: 550px) {
        font-size: 22px;
        line-height: 26px;
      }
    }

    .empy-text {
      text-align: center;
    }

    .empty-img {
      width: 300px;

      img {
        width: 100%;
      }
    }

    .empty-btn {
      border: none;
      outline: none;
      background: black;
      padding: 14px 24px;
      border-radius: 30px;
      cursor: pointer;
      font-size: 10px;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 1.5%;
      font-weight: bold;
    }
  }
}
